name: Build Raspberry Pi OS Image

on:
  push:
    branches:
      - main

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y \
            wget unzip qemu-user-static kpartx \
            dosfstools e2fsprogs python3 python3-pip libguestfs-tools \
            git curl
      - name: Download latest Pi OS image
        run: |
          wget -O rpi.img.xz https://downloads.raspberrypi.com/raspios_lite_armhf_latest
          xz -d rpi.img.xz
      - name: Mount the image
        run: |
          mkdir -p /mnt/rpi_boot /mnt/rpi_root
          mount $(ls $(losetup -Pf --show rpi.img)p1) /mnt/rpi_boot
          mount $(ls $(losetup -Pf --show rpi.img)p2) /mnt/rpi_root
      - name: Install Ansible in the image
        run: |
          cp /usr/bin/qemu-arm-static /mnt/rpi_root/usr/bin
          chroot /mnt/rpi_root /bin/bash -c "apt-get update && apt-get install -y ansible"
          rm /mnt/rpi_root/usr/bin/qemu-arm-static
      - name: Unmount the image
        run: |
          umount /mnt/rpi_boot
          umount /mnt/rpi_root
          losetup -d $(losetup -Pf --show rpi.img)
      - name: Download PiShrink
        run: |
          curl -Lo pishrink.sh https://raw.githubusercontent.com/Drewsif/PiShrink/master/pishrink.sh
          chmod +x pishrink.sh
      - name: Shrink the image
        run: |
          ./pishrink.sh rpi.img shrunk-rpi.img
      - name: Upload the artifact
        uses: actions/upload-artifact@v4
        with:
          name: bootstrap.img
          path: shrunk-rpi.img
